/*清除元素默认的内外边距  */
* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
/*让所有斜体 不倾斜*/
em,
i {
  font-style: normal;
}
/*去掉列表前面的小点*/
li {
  list-style: none;
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
  border: 0; /*ie6*/
  vertical-align: middle;
}
/*让button 按钮 变成小手*/
button {
  cursor: pointer;
}
/*取消链接的下划线*/
a {
  color: #666;
  text-decoration: none;
}
/* a:hover {
  color: #e33333;
} */
button,
input {
/*取消轮廓线 蓝色的*/
  outline: none;
  background-color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
html,body {
  height: 100%;
  background-color: #fff;
  /* 清除字体默认行高 */
  line-height: 1;
  font-family: Cascadia Code, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.hide,
.none {
  display: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
::-webkit-scrollbar {
  display: none!important;
}
